[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tmm = "*"
lmfit = "*"
matplotlib = "*"
scipy = "*"
numdifftools = "*"
joblib = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = ">=3.3"
